{% comment %}
cerpy perste:
{% include blog_index.html user="" %}
{% endcomment %}
{% assign path_segments = page.url | split: '/' %}
{% assign user = path_segments[1] %}
<h1>{{ user }}'s blog</h1>

<ul>
{% assign sorted_posts = site.blogs | sort: 'date' | reverse %}
{% for post in sorted_posts %}
  {% assign folder = post.path | split: '/' | slice: 1 | first %}
  {% if folder == user and post.name != 'index.html' and post.name != 'atom.xml' %}
    <li>
      <a href="{{ post.url }}">{{ post.title | default: post.name }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<a href="https://blogs.catskull.net/{{ user }}/atom.xml">Atom Feed</a>
